In [1]:
import pandas as pd
import numpy as np

In [3]:
# 기간 
dates =pd.date_range('20201217', periods=6)

dates

DatetimeIndex(['2020-12-17', '2020-12-18', '2020-12-19', '2020-12-20',
               '2020-12-21', '2020-12-22'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df = pd.DataFrame(np.random.rand(6,4), index = dates, columns=list('ABCD'))
df

                   A         B         C         D
2020-12-17  0.842649  0.472212  0.457478  0.071422
2020-12-18  0.309865  0.319809  0.953843  0.238302
2020-12-19  0.309632  0.841542  0.658586  0.869799
2020-12-20  0.391251  0.455370  0.871248  0.389030
2020-12-21  0.737647  0.618594  0.717969  0.258368
2020-12-22  0.774584  0.317113  0.901906  0.006199

In [16]:
df2 = pd.DataFrame({'A':1,
            'B':pd.Timestamp('20201217'),
            'C':pd.Series(1, index=list(range(4)), dtype = 'float32'),
            'D':np.array([3]*4, dtype='int32'),
            'E':pd.Categorical(['test','train','test','train']),
            'F':'foo'})
df2

   A          B    C  D      E    F
0  1 2020-12-17  1.0  3   test  foo
1  1 2020-12-17  1.0  3  train  foo
2  1 2020-12-17  1.0  3   test  foo
3  1 2020-12-17  1.0  3  train  foo

In [17]:
df2.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [19]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2020-12-17  0.071422  0.457478  0.472212  0.842649
2020-12-18  0.238302  0.953843  0.319809  0.309865
2020-12-19  0.869799  0.658586  0.841542  0.309632
2020-12-20  0.389030  0.871248  0.455370  0.391251
2020-12-21  0.258368  0.717969  0.618594  0.737647
2020-12-22  0.006199  0.901906  0.317113  0.774584

In [22]:
df.sort_values(a)

TypeError: sort_values() missing 1 required positional argument: 'by'