In [ ]:
from sklearn.model_selection import cross_val_score
from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

iris = load_iris()

print(iris.data)
print("\n",iris.feature_names)
print("\n",iris.target_names)
print("\n",iris.target)

In [14]:
import pandas as pd
df = pd.DataFrame(data = iris.data , columns=iris.feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [15]:
df['species'] = iris.target

In [16]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   species            150 non-null    int32
dtypes: float64(4), int32(1)
memory usage: 5.4 KB

In [18]:
df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

In [19]:
y= df['species' ].copy()
del df['species']

In [20]:
scaler = StandardScaler()
df_scaler = scaler.fit_transform(df)

In [23]:
type(df_scaler)
print(df_scaler[:10])

[[-0.90068117  1.01900435 -1.34022653 -1.3154443 ]
 [-1.14301691 -0.13197948 -1.34022653 -1.3154443 ]
 [-1.38535265  0.32841405 -1.39706395 -1.3154443 ]
 [-1.50652052  0.09821729 -1.2833891  -1.3154443 ]
 [-1.02184904  1.24920112 -1.34022653 -1.3154443 ]
 [-0.53717756  1.93979142 -1.16971425 -1.05217993]
 [-1.50652052  0.78880759 -1.34022653 -1.18381211]
 [-1.02184904  0.78880759 -1.2833891  -1.3154443 ]
 [-1.74885626 -0.36217625 -1.34022653 -1.3154443 ]
 [-1.14301691  0.09821729 -1.2833891  -1.44707648]]

In [24]:
logre = LogisticRegression()

In [28]:
score = cross_val_score(logre, df_scaler, y, cv=7) # k-fold로 테스트 
# cv : 몇번 반복인지

In [29]:
print(score) # 5번(디폴트값)의 테스트 실행 값

[0.95454545 1.         0.90909091 0.95238095 0.85714286 1.
 1.        ]

In [30]:
# 정확도를 위해서 평균값을 사용
print(score.mean())

0.9533085961657389

In [45]:
# 문제점 & 해결책 1  - shuffle
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

iris = load_iris()
scaler = StandardScaler()
iris_scale = scaler.fit_transform(iris.data)

logre = LogisticRegression()
#kfold = KFold(n_splits=3)
#해결책
kfold = KFold(n_splits=3, shuffle =True, random_state=0)
iris_score = cross_val_score(logre, iris_scale, iris.target, cv = kfold)
print(iris_score)
print(iris_score.mean())

[0.94 0.96 0.96]
0.9533333333333333

In [35]:
iris.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [46]:
# 해결책 2  - stratfied k-fold
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import StratifiedKFold
iris = load_iris()
scaler = StandardScaler()
iris_scale = scaler.fit_transform(iris.data)

logre = LogisticRegression()
#kfold = KFold(n_splits=3, shuffle =True, random_state=0)
stfold = StratifiedKFold(n_splits=3)
iris_score = cross_val_score(logre, iris_scale, iris.target, cv = stfold)
print(iris_score)
print(iris_score.mean())

[0.98 0.96 0.96]
0.9666666666666667

In [47]:
# 해결책 3 - shuffle split 
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import ShuffleSplit
iris = load_iris()
scaler = StandardScaler()
iris_scale = scaler.fit_transform(iris.data)

logre = LogisticRegression()
shuffle = ShuffleSplit(test_size =2, train_size =8, n_splits=10)
iris_score = cross_val_score(logre, iris_scale, iris.target, cv = shuffle)
print(iris_score)
print(iris_score.mean())

[1.  0.5 0.5 1.  1.  1.  0.  0.  1.  1. ]
0.7