# Ada boosting(에이다 부스팅)

In [15]:
from sklearn.datasets import load_iris
import pandas as pd
from sklearn.model_selection import train_test_split

In [8]:
iris = load_iris()
data = iris.data
column_name = iris.feature_names

In [9]:
print(data[:4])
print(column_name)

[[5.1 3.5 1.4 0.2]
 [4.9 3.  1.4 0.2]
 [4.7 3.2 1.3 0.2]
 [4.6 3.1 1.5 0.2]]
['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']

In [12]:
iris_df = pd.DataFrame(data, columns=column_name)

In [13]:
iris_df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [16]:
#....EDA........ x ,y

In [17]:
x= iris.data
y= iris.target
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [26]:
from sklearn.ensemble import AdaBoostClassifier

abc = AdaBoostClassifier(n_estimators=50, learning_rate=1)
model = abc.fit(x_train, y_train)

In [27]:
from sklearn.metrics import accuracy_score
y_pred = abc.predict(x_test)
print('accuracy: ', abc.score(x_test, y_test))
print('score: ', accuracy_score(y_test,y_pred))

accuracy:  0.9
score:  0.9

# 당뇨병

In [35]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import accuracy_score
import pandas as pd

col_names = ['pregnant', 'glucose', 'bp', 'skin', 'insulin', 'bmi', 'pedigree', 'age', 'outcome']

pima = pd.read_csv("./data/diabetes.csv",header=0)
pima.rename({j: i for i, j in zip(col_names, pima.columns)}, axis=1, inplace=True)
pima.head()

   pregnant  glucose  bp  skin  insulin   bmi  pedigree  age  outcome
0         6      148  72    35        0  33.6     0.627   50        1
1         1       85  66    29        0  26.6     0.351   31        0
2         8      183  64     0        0  23.3     0.672   32        1
3         1       89  66    23       94  28.1     0.167   21        0
4         0      137  40    35      168  43.1     2.288   33        1

In [36]:
from sklearn.model_selection import train_test_split
y = pima['outcome'].copy()
del pima['outcome']
print(y[:5])
print(pima.head())

0    1
1    0
2    1
3    0
4    1
Name: outcome, dtype: int64
   pregnant  glucose  bp  skin  insulin   bmi  pedigree  age
0         6      148  72    35        0  33.6     0.627   50
1         1       85  66    29        0  26.6     0.351   31
2         8      183  64     0        0  23.3     0.672   32
3         1       89  66    23       94  28.1     0.167   21
4         0      137  40    35      168  43.1     2.288   33

In [105]:
x_train, x_test, y_train, y_test = train_test_split(pima, y, test_size = 0.25)

In [106]:
from sklearn.svm import SVC

In [107]:
svc = SVC(probability=True, kernel='linear')

In [127]:
abc = AdaBoostClassifier(n_estimators=50, learning_rate=0.3) #base_estimator = svc)

abc.fit(x_train, y_train)

AdaBoostClassifier(learning_rate=0.3)

In [128]:
y_pred=abc.predict(x_test)
print('accuracy : ', accuracy_score(y_test, y_pred))

accuracy :  0.7916666666666666

In [129]:
from sklearn.model_selection import cross_val_score

scores=cross_val_score(abc, pima, y, cv=5)
print(scores.mean())

0.7670061964179611

t