In [2]:
import pymysql as mysql

mysql.__version__

'0.10.1'

## 127.0.0.1 => locahost (내 pc )

In [21]:
conn = mysql.connect(host='127.0.0.1',
                             user='root',
                             password='kita',
                             db='kita1',
                             charset='utf8',
                             cursorclass=mysql.cursors.DictCursor)

In [23]:
with conn.cursor() as cursor: # cursor 데이터가 어느 위치로 움직일 수 있는지 표현
    sql="select id, name, age from sungjuck"
    cursor.execute(sql)
    #result=cursor.fetchall() #fetchall() - 전체 
    result=cursor.fetchmany(2) # fetchmany(n) - n개 만큼 출력
    for row in result:
        print(row)

{'id': 1, 'name': 'a1', 'age': 10}
{'id': 2, 'name': 'a2', 'age': 20}

In [24]:
with conn.cursor() as cursor: # cursor 데이터가 어느 위치로 움직일 수 있는지 표현
    sql="select id, name, age from sungjuck"
    cursor.execute(sql)
    #result=cursor.fetchall()
    result=cursor.fetchone() # fetchone -한개만 출력
    print(result)

{'id': 1, 'name': 'a1', 'age': 10}

In [34]:
conn.close()

Error: Already closed

## employees first_name, last_name 출력

In [40]:
conn = mysql.connect(host='127.0.0.1',
                             user='root',
                             password='kita',
                             db='employees',
                             charset='utf8',
                             cursorclass=mysql.cursors.DictCursor)

In [45]:
with conn.cursor() as cursor:
    sql = "select first_name, last_name from employees "
    sql+=" where first_name =%s and last_name =%s " #%s로 외부에서 값을 받음
    sql+=" limit 0,10"
    cursor.execute(sql,('Parto','Speek'))
    result = cursor.fetchone()
    print(result)

{'first_name': 'Parto', 'last_name': 'Speek'}

In [49]:
with conn.cursor() as cursor:
    sql = "select first_name, last_name from employees "
    sql+=" where first_name like %s" #%s로 외부에서 값을 받음
    sql+=" limit 0,10"
    cursor.execute(sql,('%a%'))
    result = cursor.fetchall()
    for index in result:
        print(index)

{'first_name': 'Bezalel', 'last_name': 'Simmel'}
{'first_name': 'Parto', 'last_name': 'Bamford'}
{'first_name': 'Chirstian', 'last_name': 'Koblick'}
{'first_name': 'Anneke', 'last_name': 'Preusig'}
{'first_name': 'Tzvetan', 'last_name': 'Zielinski'}
{'first_name': 'Saniya', 'last_name': 'Kalloufi'}
{'first_name': 'Sumant', 'last_name': 'Peac'}
{'first_name': 'Duangkaew', 'last_name': 'Piveteau'}
{'first_name': 'Mary', 'last_name': 'Sluis'}
{'first_name': 'Patricio', 'last_name': 'Bridgland'}

In [51]:
conn.close()

Error: Already closed

In [52]:
#Q1 sungjuck id name  // hak1 ban1  -> sql
#Q2 sungjuck kor >= 50  -> sql2
#Q3 sungjuck kor>70 and hak = 1  -> sql3
#Q4 name = a  -> sql4

In [93]:
conn = mysql.connect(host='127.0.0.1',
                             user='root',
                             password='kita',
                             db='t1',
                             charset='utf8',
                             cursorclass=mysql.cursors.DictCursor)

In [94]:
with conn.cursor() as cursor:
    #Q1
    sql1 = "select hak,ban, kor, id, name from sungjuck "
    sql1+= " where hak =%s and ban=%s  " #%s로 외부에서 값을 받음
    #Q2
    sql2 = "select id, name, kor from sungjuck "
    sql2+=" where kor >=%s"
    #Q3
    sql3="select hak, id, name, kor from sungjuck"
    sql3+=" where kor>%s and hak =%s"
    #Q4
    sql4="select id, name from sungjuck"
    sql4+=" where name like %s "
    #sql+=" limit 0,10"
    cursor.execute(sql1,(1,1))
    result = cursor.fetchall()
    for row in result:
        print(row)

{'hak': 1, 'ban': 1, 'kor': 100, 'id': 3, 'name': 'a'}
{'hak': 1, 'ban': 1, 'kor': None, 'id': 4, 'name': 'b'}
{'hak': 1, 'ban': 1, 'kor': None, 'id': 5, 'name': 'c'}

In [95]:
conn.close()

In [91]:
# insert
import pymysql as mysql

conn = mysql.connect(host='127.0.0.1',
                             user='root',
                             password='kita',
                             db='t1',
                             charset='utf8',
                             cursorclass=mysql.cursors.DictCursor)
try:
    with conn.cursor() as cursor:
        sql = "insert into sungjuck(name, kor, hak, ban) "
        sql += " values(%s, %s, %s, %s)"
        cursor.execute(sql,('hong gil', 100, 2, 3))
        conn.commit() 
        print("입력완료")
except:
    conn.rollback()
finally:
    conn.close()

입력완료
클로즈 완료